@media only screen and (max-width: 800px) {
  .pop {
      margin-top: 10px;
      
      
    }
  }


  @media only screen and (max-width: 800px) {
    .pop1 {
        margin-top: 15px;
    
    
        
      }
    }



    .q {
        box-shadow: 2px 2px 4px gray;
        margin-bottom:30px;
        transition:0.5s;
        
        }     
        
        
    .q:hover {
        transform:scale(1.1,1.1);
        
        }	



        	
.kaka {
	margin-top:40px;
	
	}	
    
    
    #footer{
		background-color: #2A2A2A ;
		width: 100%;
		height: auto;
		padding: 25px 0 30px 0;
	}
	
	#footer .contacts .fa{
		color: #ffffff;
	}
	
	#footer .contacts ul li{
		font-size: 14px;
		line-height: 1.7px;
	}
	
	#footer .footer-heading{
		border-bottom: 1px solid #ffffff;
	}
	
	#footer .footer-heading h2{
		font-size: 15px;
		color: #ffffff;
		font-weight: 600;
		/* line-height: 50px; */
	}
	
	#footer .footer-heading h2::before{
		content: '';
		position: absolute;
		bottom: 0;
		line-height: 30px;
		left: 0;
		width: 50px;
	}
	
	#footer .connects h2{
		font-size: 15px;
		color: #ffffff;
		font-weight: 600;
		transition: 0.5s;
	}
	

	#footer .social-icons .facebook{
		size: 20px;
		width: 30px;
		height: 30px;
		margin:0 5px 0 5px;
	}


	#footer .social-icons .facebook:hover{

		transform: scale(1.2,1.2);
		}
	
	#footer .social-icons .facebook .fab{
		transform: translate(100%, 27%);
		color: #ffffff;
	}
	
	#footer .social-icons .twitter{
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin:0 5px 0 5px;
	}

	#footer .social-icons .twitter:hover{

		transform: scale(1.2,1.2);
		}
	
	#footer .social-icons .twitter .fab{
		transform: translate(55%, 22%);
		color: #ffffff;
	}
	
	#footer .social-icons .instagram{
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin:0 5px 0 5px;
	}
	#footer .social-icons .instagram:hover{

	transform: scale(1.2,1.2);
	}
	
	#footer .social-icons .instagram .fab{
		transform: translate(50%, 22%);
		color: #ffffff;
	}
	
	#footer .social-icons .youtube{
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin:0 5px 0 5px;
	}

	#footer .social-icons .youtube:hover{
		transform: scale(1.2,1.2);
	}
	
	#footer .social-icons .youtube .fab{
		transform: translate(44%, 20%);
		color: #ffffff;
	}

	
	.corbg{
		background-color: black;
	}
	
	.corbg p{
		text-align: center;
		color: #ffffff;
		margin: 0;
		line-height: 50px;
		font-size: 15px;
	}