* {
    margin: 0px;
    padding: 0px;
}


.van {
    background-image: url("images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



@media only screen and (max-width: 600px) {
    img.han {
      max-width: 200px;
    }
  }



  .dives{
      border: thin;
      transition: 0.5s;
  }

  .dives:hover{
      transform: scale(1.1,1.1);
  }